<html>
  <head>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="jumbotron">
      <div class="row">
        <div class="col-xs-4">
          <input name="search_field" type="text" class="form-control" placeholder="Pesquisar titulo ou descrição">
        </div>
        <div class="col-xs-4">
          <input name="author" type="text" class="form-control" placeholder="autor">
        </div>
        <div class="col-xs-4">
          <button onclick="call_api();" class="btn btn-primary btn-lg">Search</button>
        </div>
      </div>
      <table class="table table-sm">
        <thead>
          <tr>
            <th>Title<i id="order" class="fa fa-fw fa-sort fa-sort-asc" onclick="orderTable();"></i></th>
            <th>Author</th>
            <th>Image</th>
            <th>Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    <a href="/books">Cadastrar novos livros</a>
  </body>
</html>