<html>
  <head>
    <title>My Angular App!</title>

  </head>
  <body>
    <div class="jumbotron">

        <button onclick="call_api();"> Search </button> 

        <table class="table table-sm">
          <thead>
            <tr>
              <th>Title</th>
              <th>Author</th>
              <th>Image</th>
              <th>Description</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>

    </div>
    <a href="/books">Cadastrar novos livros</a>
  </body>
</html>